<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <div class="period-grid">
    <mat-form-field>
      <mat-label>Favorite time period</mat-label>
      <mat-select formControlName="period" (selectionChange)="fetchQuote()">
        <mat-option
          *ngFor="let timePeriod of timePeriods"
          [value]="timePeriod.value"
        >
          {{ timePeriod.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>From</mat-label>
      <input
        matInput
        formControlName="datePickerFromDate"
        [max]="datePickerMaxDate"
        [matDatepicker]="fromDatePicker"
        (dateChange)="checkRangeDates(true, false)"
      >
      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>To</mat-label>
      <input
        matInput
        formControlName="datePickerToDate"
        [max]="datePickerMaxDate"
        [matDatepicker]="toDatePicker"
        (dateChange)="checkRangeDates(false, true)"
      >
      <mat-datepicker-toggle matPrefix [for]="toDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <button (click)="fetchQuote()" mat-raised-button>Go</button>
</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
